body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 600px;
    margin: 0 auto;
}

.article {
    cursor: pointer;
    padding: 5px;

}

li.art-li {

    min-height: 100px;
    padding: 10px;
    float: left;
    text-align: left;

}

.art-ul {
    border: 1px solid #222222;
}

.article .name {
    display: inline-block;
    min-width: 300px;
    font-size: 1.75em;
}

.instructions {
    position: absolute;
    top: 50px;
    left: 50px;
}

.article.selected {
    background-color: yellow;
}

.article.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

