body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;

    margin: 50px 0;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -khtml-user-select: none;
         -o-user-select: none;
}

#outer
{
    width: 600px;
    margin: 0 auto;
}

.article
{
    padding: 5px;

    cursor: pointer;
}


.title-link
{
    font-size: 48px;

    color: #61b3de;
}

.title-link:hover
{
    color: #00693f;
}


input.inc-hide
{
    display: none;
    float: right;

    height: 30px;

    color: #1d2951;
    border: 1px solid #1d2951;
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
}

input.inc-hide.selected
{
    display: inline-block !important;
}



li.art-li
{
    float: left;

    min-height: 100px;
    padding: 10px;

    text-align: left;
}

.art-ul
{
    border: 1px solid #222;
}

.article .name
{
    font-size: 1.75em;

    display: inline-block;

    min-width: 300px;
}

.instructions
{
    position: absolute;
    top: 50px;
    left: 50px;
}

.article.selected
{
    background-color: yellow;
}

.article.selected .score
{
    color: black;
}

.details, .none
{
    font-size: 2em;
    font-weight: bold;

    margin: 50px 10px;
    padding: 10px 0;

    border-width: 4px;
    border-style: dashed none none none;
    border-color: #ccc;
}

.none
{
    color: #777;
}

.inc
{
    cursor: pointer;
}
